.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    padding: 20px;

    & div{
        margin-right: 5px;
        width: 8px;
        background-color: $main-color;
    }
    & div[current]{
        background-color: $second-color;
    }

    &[done] div{
        background-color: greenyellow;
    }
}